# C++ / CMake
segmenter/build/
segmenter/compile_commands.json
*.o

# clangd
.cache/

# Java / Gradle
server/build/
server/.gradle/
server/segments/

# generated stream output
segments/
*.ts
*.m3u8

# misc
.DS_Store
